@model Physician.Models.Doctor;

<h2>Doctor Details</h2>
<h3>@Html.DisplayNameFor(model => model.DoctorName): @Html.DisplayFor(model => model.DoctorName)</h3>

@if(@Model.Patients.Count == 0)
{
  <p>This Doctor does not contain any Patients</p>
}
else
{
  <h4>Patients the Doctor contains:</h4>
  <ul>
  @foreach(var join in Model.Patients)
  {
    <li>@join.Patient.PatientName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to doctors", "Index")</p>